<div class="header">
  <div class="wrap">
    <div class="header_top">
      <div class="logo">
        <%= link_to(image_tag('logo.png'), root_path) %>
      </div>
      <div class="header_top_right">
        <div class="search_box">
          <span>Search</span>
          <%= form_tag store_search_path do %>
            <%= text_field_tag :search_text, params[:search_text] %>
            <%= submit_tag '' %>
          <% end %>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="navigation">
      <a class="toggleMenu" href="#">Menu</a>

      <ul class="nav">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <%= render partial: 'shared/categories', locals: { categories: @categories } %>
        <li>
          <%= link_to 'Contact Us', store_contact_us_path %>
        </li>
        <li>
          <%= link_to 'Cart', store_cart_path(@cart) %>
        </li>
      </ul>
      <span class="left-ribbon"> </span>
      <span class="right-ribbon"> </span>
    </div>

    <% if yield(:slider) == 'slider' %> 
      <div class="header_bottom">
        <div class="slider-text">
          <h2>Electronics store <br/> sit amet, consectetur adipisicing eli</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit<br/> sed do eiusmod tempor incididunt</p>
          <a href="https://github.com/geovo851">Ruby on Rails Developer</a>
        </div>
        <div class="slider-img">
          <%= image_tag 'slider-img.png' %>
        </div>
       <div class="clear"></div>
      </div>
    <% end %>
  </div>
</div>
